---
layout: home
author_profile: true
---

<html>
  <div class="posts">
    {% for post in site.posts %}
      {% if post.sticky %}

      <span class="sticky"><i class="fa fa-thumb-tack" aria-hidden="true"></i></span>

      <div class="post">
        <h1 class="post-title">
         <a href="{{"https://julianajlee.github.io/_posts/about-me/"}}">
           {{ post.title }}
          </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }}</span>

       {{ post.content }}
      </div>
     {% endif %}
    {% endfor %}
  </div>
</html>
